.Layout {
  height: 100vh;
}

.Content {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  overflow: scroll;
}

.LayoutContent {
  padding: 0 50px;
  overflow: scroll;
}

@media screen and (max-width: 768px) {
  .LayoutContent {
    padding: 0;
  }
}